<div class="page-header">
  <%= link_to new_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User
  <% end %>
  <h1>Listing users</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Status</th>
            <th>User type</th>
            <th colspan="2">Action</th>

      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
            <td><%= user.name %></td>
            <td><%= user.status %></td>
            <td><%= user.usertype %>
           <td><%= link_to '<span class=" glyphicon glyphicon-edit"></span>'.html_safe, edit_user_path(user)%> |
       <%= link_to '<span class=" glyphicon glyphicon-remove"></span>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
